:root {
    --green-dark : #40604D;
    --green-light : #A4AD9C;
    --gray : #D8D8D8;
    --black : #0E0E0E;
    --withe : #FFFFFF;
}
    @font-face {
        font-family: 'comfortaa-sb'; 
        src: url(../font/Comfortaa-SemiBold.ttf);
    }
    @font-face {
        font-family: 'comfortaa-light'; 
        src: url(../font/Comfortaa-Light.ttf);
    }
body {
    max-width: 1300px;
    margin: auto;
    display: grid; 
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.hidden {
    display: none;
}
.bx-shadow {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.btn-hover:hover {
    box-shadow: #40604d50 0px -23px 25px 0px inset, #40604d50 0px -36px 30px 0px inset, #40604d50 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 3px 8px, rgba(0, 0, 0, 0.09) 0px 3px 16px;
}
/*********** Background **********/
body {
    background-color: var(--gray);
}
.bg-green-dark {
    background-color: var(--green-dark);
}
.bg-green-light {
    background-color: var(--green-light);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-whithe {
    background-color: var(--withe);
}
/*********** text **********/
body {
    font-family: 'comfortaa-light';
}
.text-green-dark {
    color: var(--green-dark);
}
.text-green-light {
    color: var(--green-light);
}
.text-gray {
    color: var(--gray);
}
.text-black {
    color: var(--black)
}
.text-withe {
    color: var(--withe);
}
.font-bold {
    font-family: 'comfortaa-sb';
}
button {
    font-family: 'comfortaa-light';
}
.title-section {
    text-align: center;
    font-size: max(30px, 4vw);
    margin: 30px;
}
/*********** nav bar **********/
.nav-bar {
    padding: 20px 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.img-icon-order, .icon-menu-mobile {
    width: 35px;
    height: 35px;
}
.icon-order {
    position: relative;
}
.count-order {
    position: absolute;
    top: 50%;
    right: -14%;
    border-radius: 25px;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    
}
/*** nav bar mobile ***/
.logo {
    font-size: 1.4em;
}

.menu-mobile {
    position: absolute;
    top: 78px;
    width: 100%;
    margin-left: -2%;
    text-align: center;
    margin-right: -30px;
    overflow: hidden;
    z-index: 10;
    
}
.btn-menu-mobile {
    font-size: 1.4em;
    padding: 30px;
    margin: 20px 0;
}
.active-link-menu {
background: var(--green-light);
color: var(--green-dark);
}
.menu-desktop, .img-icon-disconnect {
    display: none;
}
.menu-order {
    position: absolute;
    z-index: 2;
    top: 78px;
    width: 100%;
    margin-left: -2%;
    margin-right: -30px;
    text-align: center;
    padding: 20px 0;
    
}
.btn-order {
    font-size: 1.6em;
    padding: 5px 10%;
    border-radius: 5px;
}
/*** nav bar tablette ***/
@media (min-width:500px){
    .nav-bar {
        padding: 5px 2%;
    }
    .logo {
        font-size: 1.8em;
    }
    .menu-mobile {
        width: 300px;
        top: 43px;
    }
    .btn-menu-mobile {
        font-size: 1em;
        margin: 5px 0;
    }
    .count-order {
        top: 25%;
        right: -10px;
    }
    .menu-order {
        font-size: 1em;
        width: 300px;
        right: 30px;
        top: 48px;
    }
    .title-order, .total-order  {
        font-size: 0.8em;
    }
    .btn-order {
        font-size: 1em;
        padding: 10px ;
        border-radius: 5px;
    }
}

/*** nav bar desktop ***/
@media (min-width:1000px){
    .icon-menu-mobile {
        display: none;
    }
    .menu-desktop {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo {
        font-size: 1.2em;
    }
    .btn-menu-desktop {
        padding:0 5%;
        margin: auto 2%;
    }
    .link-menu {
        font-size: 1em;
        white-space: nowrap;
        padding: 10px;
        border: var(--green-dark) solid 1px;
        border-radius: 5px;
    }
    .link-menu:hover {
        border: var(--green-light) solid 1px;
        text-decoration: underline;
        text-underline-position: under;
    }
    .active-link-menu {
        color: var(--green-dark);
    }
    .icons-nav-bar {
        display: flex; 
    }
    .img-icon-disconnect {
        display: block;
        width: 35px;
        height: 35px;
    }
    .img-icon-disconnect {
        margin: 0 10px;
    }
}
/********** tab Order ************/
.tab-order {
    /* background-color: var(--green-dark); */
    width: 320px;
    position: absolute;
    top: 80px; right: 0px;  
}
.img-close-order {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top : 8px
}
.line-product-order, .title-order, .total-order, .btn-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
    padding: 10px 5px ;
    font-size: 15px;
    border-radius: 5px;
}
.title-order, .total-order  {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
  
}
.btn-order {
   justify-content: center;
   border: var(--gray) solid 1px;
}
.btn-qty {
    border-radius: 5px;
    width: 25px;
    height: 23px;

}


.name-product-order, .title-order-name {
    width: 50%;
    text-align: start;
}
.nb-product, .title-order-qty {
    width: 15%;
    text-align: center;
}
.total-price-product, .title-order-total {
    width: 25%;
    text-align: end;
}
.total-order-tx-total {
    width: 75%;
    text-align: end;
}
.total-order-price {
    width: 25%;
    text-align: end;
}



/********************* footer ********************/
.footer {
    padding: 10px;
}
.links-pages-footer {
    font-size: 1em;
    padding-top: 10px;
}
.links-legales-footer {
    font-size: 0.6em;
    padding-top: 10px;
}
.logo-footer, .links-pages-footer, .links-legales-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer {
    text-align: center;
    font-size: 1.4em;
    margin: 30px;
}
.link-footer {
    margin: 10px 20px;
    text-decoration: underline;
    text-decoration: underline;
}
@media (min-width:800px){
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .links-legales-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width:1000px){
    .links-pages-footer {
        flex-direction: row;
        justify-content: center;
    }
}



