:root {
    --green-dark : #40604D;
    --green-light : #A4AD9C;
    --gray : #D8D8D8;
    --black : #0E0E0E;
    --withe : #FFFFFF;
}
    @font-face {
        font-family: 'comfortaa-sb'; 
        src: url(../font/Comfortaa-SemiBold.ttf);
    }
    @font-face {
        font-family: 'comfortaa-light'; 
        src: url(../font/Comfortaa-Light.ttf);
    }
body {
    max-width: 1600px;
    margin: auto;
    display: grid; 
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.hidden {
    display: none;
}
/*********** Background **********/
body {
    background-color: var(--gray);
}
.bg-green-dark {
    background-color: var(--green-dark);
}
.bg-green-light {
    background-color: var(--green-light);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-whithe {
    background-color: var(--withe);
}
/*********** text **********/
body {
    font-family: 'comfortaa-light';
}
.text-green-dark {
    color: var(--green-dark);
}
.text-green-light {
    color: var(--green-light);
}
.text-gray {
    color: var(--gray);
}
.text-black {
    color: var(--black)
}
.text-withe {
    color: var(--withe);
}
.font-bold {
    font-family: 'comfortaa-sb';
}
button {
    font-family: 'comfortaa-light';
}
h1 {
    text-align: center;
    font-size: max(30px, 4vw);
    margin: 30px;
}
/*********** nav bar **********/
.nav-bar {
    padding: 20px 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.img-icon-order, .icon-menu-mobile {
    width: 35px;
    height: 35px;
}
.icon-order {
    position: relative;
}
.count-order {
    position: absolute;
    top: 50%;
    right: -14%;
    border-radius: 25px;
    width: 25px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    
}
/*** nav bar mobile ***/
.logo {
    font-size: 1.4em;
}
.menu-mobile {
    position: absolute;
    top: 78px;
    width: 100%;
    margin-left: -2%;
    text-align: center;
    margin-right: -30px;
    overflow: hidden;
    border-bottom: var(--gray) solid 1px;
}
.btn-menu-mobile {
    font-size: 1.4em;
    padding: 30px;
    margin: 20px 0;
}
.active-link-menu {
background: var(--green-light);
color: var(--green-dark);
}
.menu-desktop, .img-icon-disconnect {
    display: none;
}
.menu-order {
    position: absolute;
    top: 78px;
    width: 100%;
    
    margin-left: -2%;
    margin-right: -30px;
    text-align: center;
    padding: 20px 0;
    
}
.title-order, .total-order  {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.btn-order {
    font-size: 1.6em;
    padding: 5px 10%;
    border-radius: 5px;
}
/*** nav bar tablette ***/
@media (min-width:500px){
    .nav-bar {
        padding: 5px 2%;
    }
    .logo {
        font-size: 1.8em;
    }
    .menu-mobile {
        width: 300px;
        top: 43px;
    }
    .btn-menu-mobile {
        font-size: 1em;
        margin: 5px 0;
    }
    .count-order {
        top: 25%;
        right: -10px;
    }
    .menu-order {
        font-size: 1em;
        width: 300px;
        right: 30px;
        top: 48px
    }
    .title-order, .total-order  {
        font-size: 0.8em;
    }
    .btn-order {
        font-size: 1em;
        padding: 10px ;
        border-radius: 5px;
    }
}

/*** nav bar desktop ***/
@media (min-width:1000px){
    .icon-menu-mobile {
        display: none;
    }
    .menu-desktop {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo {
        font-size: 1.2em;
    }
    .btn-menu-desktop {
        padding:0 5%;
        margin: auto 2%;
    }
    .link-menu {
        font-size: 1em;
        white-space: nowrap;
        padding: 10px;
        border: var(--green-dark) solid 1px;
        border-radius: 5px;
    }
    .link-menu:hover {
        border: var(--green-light) solid 1px;
        text-decoration: underline;
        text-underline-position: under;
    }
    .active-link-menu {
        color: var(--green-dark);
    }
    .icons-nav-bar {
        display: flex; 
    }
    .img-icon-disconnect {
        display: block;
        width: 35px;
        height: 35px;
    }
    .img-icon-disconnect {
        margin: 0 10px;
    }
}
/********************* footer ********************/
.footer {
    padding: 10px;
}
.links-pages-footer {
    font-size: 1em;
    padding-top: 10px;
}
.links-legales-footer {
    font-size: 0.6em;
    padding-top: 10px;
}
.logo-footer, .links-pages-footer, .links-legales-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-footer {
    margin: 10px 20px;
    text-decoration: underline;
    text-decoration: underline;
}
@media (min-width:800px){
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .links-legales-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width:1000px){
    .links-pages-footer {
        flex-direction: row;
        justify-content: center;
    }
}


/********************* home Page ********************/

.section-home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.bloc-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
 
}
.img-tablet, .img-desktop {
    display: none;
}
.img-bloc-home-page {
    width: 100%;
}
.goup-text-home-page {
    top: 250px; 
    text-align: center;
    font-size: min(3.5vw, 20px);;
    width: min(625px, 70%) ;
    height: min(40px);
    border-radius: 12px;
    padding: 5px 5px;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta {
    font-size: min(2.5vw, 15px);
    text-decoration: underline;
    text-underline-position: under;
    margin-top: 5px;
}
.text-for-desktop {
    display: none;
    font-size: 15px;
}
@media (min-width:500px){
    .img-mobile {
        display: none;
    }
    .img-tablet {
        display: block;
    }
}
@media (min-width:805px){
    main {
        margin: 0 10px;
    }
    .img-tablet {
        display: none;
    }
    .img-desktop {
        display: block;
        width: 350px;
    }
    .bloc-home-page {
        flex-direction: row;
        justify-content: center;
        margin: 0px 10px 50px 10px;  
    }
    .text-for-desktop {
        display: flex;
        margin: 10px 10px ;
        line-height: 16px;
    }
    .goup-text-home-page {
        z-index: -1;
        margin: 0px 0px 0px -10px;
        height: 215px;      
        padding: 0px 20px;   
    }
}
@media (min-width:1300px){ 
    .goup-text-home-page {
        width: 240px;
    }
    .text-for-desktop, .cta {
        font-size: 12px; 
    }
}
/********************* boutique page ********************/
.title-section-boutique {
    text-align: center;
    font-size: 1.5em;
    padding: 8px 0;
  
}


@media (min-width:720px){ 
    .gp-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
    @media (min-width:1200px){ 
        .gp-products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        }
/*** card product ***/
.card-product {
    width: 95%;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bloc-img-product {
    width: 40%;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-product {
    width: 160px;
    height:140px;
}
.info-product {
    width: 60%;
    border-radius: 0 5px 5px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 8px;
}
.name-product {
    font-size: 1.2em;
}
.descrip-product {
    font-size: 0.8em;
    line-height: 20px;
}
.btns-product {
    display: flex;
    justify-content: space-between;
}
.opt-product {
    opacity: 40%;
    background-color: #BEC8B6;
    border: none;
    border-radius: 5px;
    height: 46px;
    padding: 0px 12px;
    margin-bottom: 5px;
    font-family: 'comfortaa-light';
    font-size: 0.6em;
    
}
.opt-product.active {
    background-color: var(--green-dark);
    color: var(--withe);
    border: var(--withe) solid 1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 100%;

}
.price-product {
    margin-top: 5px;
}
.add-product {
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 47px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    vertical-align: middle;
}
.img-btn-add {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
