.paragraph {
    margin: 30px;
    font-size: 1em;
    line-height: 25px;
}
.img-a-propos-desktop {
    display: none;
}
.img-a-propos-mobile {
    width: 100vw;
}  
section {
    margin-bottom: 70px;
    
}

@media (min-width:900px){
    .top-article {
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
    
       
    }
    .paragraph {
        font-size: 0.8em;
    }
  
    .img-a-propos-mobile {
        display: none;
    }
    .img-a-propos-desktop {
        display: block;
        width: 45vw;
    }
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
    padding: 10px;
    height: 300px;
}
input {
    height: 35px;
    width: 97.8%;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 0 5px;
}
textarea {
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 5px;
}
 .btn-form {
     height: 30px;
     width: 40%;
     border: grey solid 1px;
     border-radius: 5px;
     align-self: center;
} 
.icon-contact {
    width: 45px;
    height: 45px;
    margin: 5px;
    padding-right: 5%;
}
.sec-contact {
    display: flex;
    align-items: center;
    padding: 10px;
}
.contact {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

@media (min-width:650px){
    .contain-contact {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .contact {
        height: 300px;
        margin: 0;
        width: 40%;
    }
    .form-contact {
        width: 40%;
    }
}




